.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 10px;
}
.formContainer {
  width: 100%;
  max-width: 368px;
}
.formContainer form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContainer form div {
  width: 100%;
  max-width: 368px;
}
