.container {
  width: "100%";
  max-width: 350px;
  border: 1px solid rgba(128, 128, 128, 0.42);
  border-radius: 8px;
  padding: 8px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-wrap: break-word;
}
.incoming {
  width: 50%;
  align-self: flex-start;
  position: relative;
}
.outcoming {
  position: relative;
  width: 50%;
  align-self: flex-end;
}
.date {
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  color: rgba(128, 128, 128, 0.66);
}
.status {
  position: absolute;
  font-size: 10px;
  left: 5px;
  top: 5px;
  color: rgba(128, 128, 128, 0.66);
}
.footer {
  display: flex;
  justify-content: space-between;
}
