.incoming {
  width: 50%;
  align-self: flex-start;
  position: relative;
}
.outcoming {
  position: relative;
  width: 50%;
  align-self: flex-end;
}
.date {
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  color: rgba(128, 128, 128, 0.66);
}
.status {
  position: absolute;
  font-size: 10px;
  left: 5px;
  top: 5px;
  color: rgba(128, 128, 128, 0.66);
}
