.container {
  display: flex;
  height: 100%;
  width: 100%;
  padding-inline: 15px;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  margin: 0 auto;
  flex-direction: column;
  gap: 50px;
}
