.container {
  display: flex;
  padding-inline: 15px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 1s;
}
.container:hover {
  background-color: rgba(214, 214, 214, 0.285);
}
.online {
  display: flex;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: green;
}
.offline {
  display: flex;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: red;
}
