:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 10px;
  background: -webkit-linear-gradient(90deg, #554c5e, #5f758f, #64a2b0);
  background: linear-gradient(90deg, #554c5e, #5f758f, #64a2b0);
}

a {
  text-decoration: inherit;
}
